/*****************
heading rules
******************/

.heading-wrapper {
	margin-bottom: 15px;
}

.heading {
	text-align: center;
}

.heading-title {
	text-transform: uppercase;
	font-weight: normal;
	cursor: pointer;
}
