<form class="controls">
  <div class="search-input--wrapper">
    <input type="text" class="input" id="search-input" placeholder="type to find news">
    <button class="search-button" id="search-button">go</button>
  </div>
  <div class="wrapper-button">

    <select 
      class="source-selector" 
      id="source-selector" 
      (ngModelChange)="getId($event)"
      name="source-selector"
      [(ngModel)]="sourceId">
      <option 
        *ngFor="let source of sourcesList"
        name="sourceItem"
        (click)="onLoadData(source.id)"
        [value]="source.id">{{source.name}}</option>
    </select>
    <div class="wrapper-button-inner">
      <div class="wrapper-checkbox">
        <input type="checkbox" id="own-news" class="input-checkbox" (change)="onlyCreatedByMe($event)"/>
        <label for="own-news">Only created by me</label>
      </div>
      <button id="button-add" class="button-add" (click)="addArticle()">
        Add article
      </button>
    </div>
  </div>
</form>
<div class="source-wrapper">
    <h2 class="source-header">{{sourceId}}</h2>
</div>
