<section class="news-sources-wrapper">
    <h2 class="news-sources-header">News sources</h2>
    <div class="news-sources-controls-wrapper">
        <h3 class="news-publishers selected">Publishers</h3>
        <h3 class="news-countries">Countries and categories</h3>
    </div>
    <p class="news-sources-description">
        We crawl and index news articles from over 30,000 news 
        sources and blogs. We also monitor the top and breaking 
        news headlines from the following 138 of the most notable 
        of these sources. You can click through for integration 
        examples.
    </p>
    <div class="news-sources-search-wrapper">
        <input type="text" class="news-sources-search">
    </div>
    <div class="news-sources-results" id="news-sources-results">
        <div class="result-item">
            <p class="result-item-title">ABC News</p>
        </div>
    </div>
</section>