<form 
    class="form" 
    id="form" 
    (ngSubmit)="onSubmitted()"
    #articleForm="ngForm">

    <div class="form-container">
        <div class="form-textarea-container">
            <label for="form-content-text" class="form-input-label">Content</label>
            <textarea 
                required
                name="form-content-text" 
                class="form-textarea" 
                id="form-content-text"
                [(ngModel)]="newsItem.content"></textarea>
        </div>
    </div>

    <div class="form-container">
        <div class="form-input-container">
            <label for="form-heading" class="form-input-label">Heading</label>
            <input [(ngModel)]="newsItem.title" id="form-heading" class="form-input" name="form-heading" type="text" required>
        </div>
        <div class="form-input-container">
            <label for="form-description" class="form-input-label">Short discription</label>
            <input [(ngModel)]="newsItem.description" id="form-description" class="form-input" name="form-description" type="text" required>
        </div>
        <div class="form-checkbox-container">
            <div>
                <input id="form-image-url" name="form-radio" type="radio" required checked>
                <label for="form-image-url" class="form-input-label">url</label>
            </div>
            <div>
                <input id="form-image-file" name="form-radio" type="radio" required>
                <label for="form-image-file" class="form-input-label">file</label>
            </div>
        </div>
        <div class="form-input-container">

            <label for="form-image" class="form-input-label">Image</label>
            <input [(ngModel)]="newsItem.urlToImage" id="form-image" class="form-input" name="form-image" type="text" required>
        </div>
        <div class="form-input-container">
            <label for="form-date" class="form-input-label">Date</label>
            <input [(ngModel)]="newsItem.publishedAt" id="form-date" class="form-input" name="form-date" type="text" required>
        </div>
        <div class="form-input-container">
            <label for="form-author" class="form-input-label">Author</label>
            <input [(ngModel)]="newsItem.author" id="form-author" class="form-input" name="form-author" type="text" required>
        </div>
        <div class="form-input-container">
            <label for="form-source-url" class="form-input-label">Source url</label>
            <input [(ngModel)]="newsItem.url" id="form-source-url" class="form-input" name="form-source-url" type="text" required>
        </div>
        <div class="article-button-container">
            <button [disabled]="!articleForm.form.valid" type="submit" form="form" class="form-button" (click)="save()">Save</button>
            <button class="form-button article-button-delete" (click)="toHome()">Cancel</button>
        </div>
    </div>

</form>
