:host {
	width: 100%;
}
/*****************
main content
******************/


.result-list {
	background-color: transparent;
	color: #060f2c;
	width: 100%;
	transition: .3s;
	z-index: 1;
}

//spinner

.spinner-wrapper {
	position: fixed;
	top: 55%;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
	transition: .3s;
	opacity: 0;
}

/*****************
source header rules
******************/

.button-load-next {
	width: 100%;
	border: none;
	border-top: 1px solid lightgray;
	padding: 20px;
	background-color: #ffffff;
	cursor: pointer;
	outline: transparent;
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
	&:hover {
		background-color: #f6f6f6;
	}
	&:active {
		background-color: #eeeeee;
	}
}

