<article class="article">
    <h2 class="article-header">Boeing issues operational manual guidance to airlines following Lion Air crash</h2>
    <div class="article-content-wrapper">
        <div class="article-content-text">
            <div class="article-info">
                <p class="article-author">By Helen Regan and Masrur Jamaluddin, CNN</p>
                <p class="article-date">Updated 1710 GMT (0110 HKT) November 7, 2018</p>
            </div>
            <p class="article-discription">Boeing has issued operational guidance to airlines as investigators continue to probe what happened to Lion Air Flight 610, which crashed into the Java Sea last month, killing all 189 passengers.</p>
            <p class="article-text">(CNN) Boeing has issued operational guidance to airlines as investigators continue to probe what happened to Lion Air Flight 610, which crashed into the Java Sea last month, killing all 189 passengers. In a statement on Tuesday, the airline manufacturer said … [+5360 chars]</p>
            <a href="#" class="article-link">Read more...</a>
        </div>
        <div class="article-content-img">
            <img src="https://cdn.cnn.com/cnnnext/dam/assets/181104220939-lion-air-body-bags-nov-3-super-tease.jpg" alt="Boeing issues" class="article-image">
        </div>
    </div>
</article>